.rpd-menu {
    display: flex;
    align-items: center;
    gap: 5px;
}

section.roobet_packdraw {
    position: relative;
    padding-bottom: 100px;
}

section.roobet_packdraw:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background: #0c0722;
    z-index: -1;
}
.rpd-wrap {
    background: #14123254;
    padding-top: 100px;
}

.rpd-blk {
    border: 1px solid #9695CE;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.rpd-blk span {
    min-width: 21px;
}

 

.rpd-blk:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg, #9b411342, #191839);
}