.rpd-menu {
    display: flex;
    align-items: center;
    gap: 5px;
}

section.roobet_packdraw {
    position: relative;
    padding-bottom: 100px;
}

section.roobet_packdraw:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background: #0c0722;
    z-index: -1;
}
.rpd-wrap {
    background: #14123254;
    padding-top: 100px;
}

.rpd-blk {
    border: 1px solid #9695CE;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.rpd-blk span {
    min-width: 21px;
}

.rpd-blk-contents {
    position: unset;
    width: 100%;
}

.rpd-blk-contents > div {
    max-width: 270px;
    position: unset;
}

.rpd-blk-contents > div h2 {
    font-weight: 600;
    margin-bottom: 5px;
}

.rpd-blk-contents > div p {
    color: #EEC8BD;
    font-size: 13px;
}

.rpd-blk-contents > div img.firstImg {
    position: absolute;
    right: 20px;
    bottom: 100px;
}

.rpd-blk-contents button.theme-btn {float: right;width: 204px;}

.rpd-blk:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg, #9b411342, #191839);
}